{% extends "base.html" %}

{% block wraptitle %}
{% endblock wraptitle %}

{% block content %}

<div class="row">

  <div class="col-md-12">
    <h2>Play from the browser</h2>
    {% from "_formhelpers_bootstrap.html" import render_field %}
    <form id="ttsForm" method="POST" action="/" autocomplete="off">
      {{ form.hidden_tag() }}
      <div class="row">
        <div class="col-md-12">
          {{ render_field(form.text, label_visible=False) }}
        </div>

        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a data-toggle="collapse" href="#advanced-options">
                <i class="fa fa-cogs" aria-hidden="true"></i> Advanced options</a>
              </h3>
            </div>
            <div id="advanced-options" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-4">
                    {{ render_field(form.voice) }}
                  </div>
                  <div class="col-md-4">
                    {{ render_field(form.speed, placeholder="Between 0.2 and 5.0") }}
                  </div>
                  <div class="col-md-4">
                    {{ render_field(form.pitch, placeholder="Between 0.5 and 2.0") }}
                  </div>
                </div> <!-- row -->
              </div> <!-- panel-body -->
            </div> <!-- advanced-options -->
          </div>
        </div> <!-- col-md-12 -->

      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-default"><i class="fa fa-play fa-4x"></i></button>
      </div>
    </form>
  </div> <!-- col-md-12 -->

  <div class="col-md-12">
    <h2>Play from the terminal</h2>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-terminal" aria-hidden="true"></i> Terminal
          <span class="pull-right">
            <a data-toggle="collapse" href="#terminal">
              <i class="fa fa-minus" aria-hidden="true"></i>
              <i class="fa fa-times" aria-hidden="true"></i>
            </a>
          </span>
        </h3>
      </div> <!-- panel-heading -->
      <div id="terminal" class="panel-collapse collapse in">
        <div class="panel-body terminal">
          <div class="code bash hljs">
          # Using cURL and aplay<br>
          $ curl --data "text=from the terminal" https://nanottsaas.herokuapp.com/api | aplay<br><br>

          # Passing parameters e.g. voice<br>
          $ curl --data "text=depuis le terminal" --data "voice=fr-FR" https://nanottsaas.herokuapp.com/api | aplay<br><br>

          # Passing more parameters e.g. speed and pitch<br>
          $ curl --data "text=from the terminal" --data "speed=0.8" --data "pitch=1.5" https://nanottsaas.herokuapp.com/api | aplay
          </div>
        </div> <!-- panel-body -->
      </div> <!-- terminal -->
    </div> <!-- panel -->
  </div> <!-- col-md-12 -->

</div> <!-- row -->
{% endblock content %}
{% block extrajs %}
<script>
  var api_url = "{{ url_for('api') }}";
  bind_tts_form(api_url);

  // SoundManager2 initialization
  soundManager.setup({
    url: 'https://cdnjs.cloudflare.com/ajax/libs/soundmanager2/2.97a.20150601/swf/',
    // optional: ignore Flash where possible, use 100% HTML5 mode
    preferFlash: false,
    onready: function() {
      // Ready to use; soundManager.createSound() etc. can now be called.
      // play_sound();
    }
  });
</script>
{% endblock extrajs %}
